<h2 style="text-align: center; margin-top: 30px">Employee List</h2>

<div style="margin-top: 40px; display: flex; justify-content: center">
  <form class="form-inline">
    <div class="form-group" style="margin-right: 20px">
      <input
        [(ngModel)]="searchTerm"
        [ngModelOptions]="{ standalone: true }"
        (keyup)="search()"
        class="form-control"
        placeholder="Search by Anything"
        style="width: 300px"
      />
    </div>
  </form>
</div>

<table class="table table-striped" style="margin-top: 40px">
  <thead>
    <tr>
      <th style="text-align: center">First Name</th>
      <th style="text-align: center">Last Name</th>
      <th style="text-align: center">Email Id</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of searchResults">
      <td style="text-align: center">{{ employee.firstName }}</td>
      <td style="text-align: center">{{ employee.lastName }}</td>
      <td style="text-align: center">{{ employee.emailId }}</td>
      <td style="text-align: center">
        <button (click)="updateEmployee(employee.id)" class="btn btn-info">
          Update
        </button>
        <button
          (click)="deleteEmployee(employee.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="employeeDetails(employee.id)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
